<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <title>Document</title>
</head>

<body>
    {{>header}}

    <div class="main-content my-auto">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="aboutImgBox">
                        <img src="images/about.png" alt="">
                    </div>
                </div>
                <div class="col-md-6 my-auto">
                    <div class="content">
                        <h3>Welcome To Roshan World</h3>
                        <h1>I Am A <span>Beginner Programmer</span> And A Student</h1>
                        <a href="" class="btn">About Me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>
</html>