<!DOCTYPE html>
<html lang="en">

<head>
    {{>link}}
    <title>Weather App</title>
</head>

<body>
    {{>header}}

    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="search-content">
                        <form action="" class="temp_form">
                            <input type="text" autocomplete="off" placeholder="Enter Your City" id="cityName">
                            <input type="submit" value="search" id="submitBtn">
                        </form>
                    </div>
                </div>
                <div class="col-md-8 offset-md-2">
                    <div class="tempInfo">
                        <div class="top_layer">
                            <p id="day">Tuesday</p>
                            <p id="today_date">OCT 13</p>
                        </div>
                        <div class="main_layer">
                            <p id="city_name">Get Output Here</p>
                            <div class="middle_layer hidden_data">
                                <p id="temp"><span id="temp_real_val">0</span> <sup>o</sup> C</p>
                                <p id="temp_status"><i class="fa fa-cloud"></i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}

    <script src="js/main.js"></script>
</body>
</html>